@charset "UTF-8";
/**
 *
 * @authors 關於聚陽
 * @date    2018-09-15 23:34:09
 * @version $Id$
 */

* {
}

/* BG start */
.bg-pd {
  background: url(../img/banner/index_09.jpg) no-repeat scroll 0 0 / cover;
}

@media screen and (max-width: 768px) {
  .bg-pd {
    background: url(../img/banner/v_index_09.jpg) no-repeat scroll top center /
      cover;
  }
}

/* 產品介紹 */

.pdslidebox{
	display:flex;
	margin:0 auto;
	width:1090px;}
.pdbtnbox {
  width:352px;
}
.pdbtnbox1{
	margin: 3rem 0 2.1rem;
	}
.pdbtnbox1 p{
	width:192px;
	margin:0 auto;

	}
.pdbtnbox2{
	margin: 1.2rem 0;
	}

.pdbtnbox2 p{
	width:150px;
	margin:0 auto;
	}

.pdbtnbox3{
	margin: 3.1em 0;
	}

.pdbtn1{
	background:url(../img/product/pd_btn.png);
	width:179px;
	height:48px;
	color:#FFF;
	margin:0 auto;
	font-size: 1.2rem;}

.pdbtn2{
	background:url(../img/product/pd_btn2.png);
	width:198px;
	height:87px;
	color:#FFF;
	margin:0 auto;
	font-size: 1.2rem;}

.pdbtn2 p{
	width:125px;
	text-align:left;
	margin:0 auto;
	font-size: 1.2rem; }

.pdslideshow{
	position:relative;
	width:352px;
	display:block;
	}

.mySlides {
	display:none;
    }
.mySlides img{
	width:100%;
}
@media screen and (min-width: 1200px) {
  .mySlides1, .mySlides2, .mySlides3 {
    display: block !important;
  }
  .w3-button {
    display: none;
  }
}
@media screen and (max-width: 1199px) {

.pdslidebox{
	display:block;
	width:344px;}

.pdbtnbox {
  position: absolute;
  top: -40px;
}

.pdbtnbox1 p{
	width:352px;
	margin:0 auto;
	}

.pdbtnbox2{
	margin: 2.6rem 0 0;
	}

.pdbtnbox2 p{
	width:352px;
	margin:0 auto;
	}
.mySlidesbox {
  max-width: 344px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  margin-top:-70px;
}
.mySlidesbox img {
  margin-top:-10px;
}

.mySlidesbox .slide-top {
  margin-top:-70px;
}

.pdbtn1{
	background:url(../img/product/m_pd_btn.png);
	width:310px;
	height:48px;
	color:#FFF;
	margin:0 auto;
	font-size: 1.2rem;}

.pdbtn2{
	background:url(../img/product/m_pd_btn.png);
	width:310px;
	height:48px;
	color:#FFF;
	margin:0 auto;
	font-size: 1.2rem;}

.pdbtn2 p{
	width:302px;
	font-size: 1.1rem;
	text-align:center;
	padding-top:9px;}

.pdslideshow{
	max-width:344px;
	position:relative;
	margin:40px 0;
    padding: 165px 0 150px;
	}
.singletitle  {
    padding: 143px 0 155px;
}
.singletitle .pdbtnbox3 {
  margin: 2.9em 0;
}
.singletitle .w3-display-left, .singletitle .w3-display-right {
  top: 59%;
}

.mySlides {
	display:none;
    }
.mySlides img{
	width:100&;}

.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: #000!important;
	}

.w3-display-right {
    position: absolute;
    right: 0%;
	top:66%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
	}

.w3-display-left {
    position: absolute;
	top:66%;
    left: 0%;
    transform: translate(0%,-50%);
	}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;}
}
	
@media screen and (max-width: 320px) {
	
.pdbtnbox {
    width: 291px;}
	
.pdslideshow{
	max-width:291px;
	position:relative;
	margin:40px 0;
    padding: 155px 0 115px;
	}
	
.pdslidebox{
	display:block;
	width:291px;}
	
.pdbtn1{
	background:url(../img/product/m_pd_btn.png) no-repeat center center;
	width:290px;
	height:48px;
	color:#FFF;
	margin:0 auto;
	font-size: 1.2rem;
	background-size:90%;}

.pdbtn2{
	background:url(../img/product/pd_btn2.png) no-repeat top center;
	width:290px;
	height:136px;
	color:#FFF;
	margin:0 auto;
	font-size: 1.2rem;
	background-size:62%;}

.pdbtn2 p{
	width:100px;
	font-size: 1.1rem;
	text-align:left;
	padding-top:0px;
	line-height:1.7rem;}
	
		
.pdbtnbox2 p{
	width:291px;
	margin:0 auto;
	font-size: 0.9rem;
	}
	
.pdbtnbox1 p{
	width:291px;
	margin:0 auto;
	font-size: 0.9rem;
	}

}



/*供應鏈管理 START*/

.m_supply_pic {
  width: 100%;
  max-width: 1100px;
  background: url(../img/product/pd_2-2-1.jpg) no-repeat scroll top center;
  min-height: 715px;
}

.m_supply_pic img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .m_supply_pic {
    background: url(../img/product/pd_2-2-1.jpg) no-repeat scroll top center;
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .m_supply_pic {
    background: url(../img/product/pd_v_2-2-1.jpg) no-repeat scroll top center;
    width: 768px;
    min-height: 500px;
  }
}

@media screen and (max-width: 400px) {
  .m_supply_pic {
    background: url(../img/product/pd_v_2-2-1.jpg) no-repeat scroll top center;
    max-width: 400px;
    min-height: 500px;
  }
}

/*技術與研發*/
.m_tech1_pic {
  background: url(../img/product/pd_2-3-1.jpg) no-repeat scroll top center/cover;
  padding-top: 64%;
  width: 100%;
}

.m_tech2_pic {
  background: url(../img/product/pd_2-3-2.jpg) no-repeat scroll top center/cover;
  padding-top: 64%;
  width: 100%;
  background-size:60%;
}

@media screen and (max-width: 992px) {
  .m_tech1_pic {
    background: url(../img/product/m_pd_2-3-1.jpg) no-repeat scroll top
      center/cover;
    padding-top: 166%;
    width: 100%;
  }
  
  .m_tech2_pic {
  background: url(../img/product/m_pd_2-3-2.jpg) no-repeat scroll top center/cover;
  padding-top: 110%;
  width: 100%;
}
}

.pd-icon-block {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.pd-icon img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .pd-icon-block {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pd-icon img {
    display: block;
    margin: 0 auto;
    max-width: 360px;
  }
}
@media screen and (max-width: 992px) {
  .pd-icon-block {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pd-icon img {
    display: block;
    margin: 0 auto;
    max-width: 360px;
  }
}
@media screen and (max-width: 768px) {
  .pd-icon-block {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pd-icon img {
    display: block;
    margin: 0 auto;
    max-width: 120px;
  }
}
