@charset "UTF-8";
/**
 * 
 * @authors 服務支援
 * @date    2018-09-15 23:34:09

 */


/*Top Banner */
.bg-support{
    background: url(../img/banner/index_07.jpg) no-repeat scroll 0 0 / cover;
  }


/*員工專區*/ 

.support-btn{
border: 1px solid #ccc;
padding: 10px;
margin: 10px;
width: 240px;
height: 140px;

}

.support-btn a{
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: center;  
}


.support-btn p{
    margin: 0 0 0 20px;
}



.support-btn img{
    width: 60px;
    height: auto;   
}




@media (max-width: 535px)
{

    .support-btn {
      
        width: 90%;
        height: 115px;
    }
    

}



/*Sitemap 網站地圖*/

.site-title{
    font-size: 1.1rem;
}

.sitemap-content .site-area:not(:last-child){
    border-bottom: 1px solid rgb(61, 123, 209);
}

.site-block a{
    display: block;
    margin-bottom: 5px;
}



@media (max-width: 535px)
{

    .site-block {
        padding-top: 20px;
        margin:0;
    }
    
.sitemap-content .site-area:not(:last-child){
        border:none;
    }
    .site-title {
        font-size: 1rem;
    }
    

  .site-block a {
        font-size: 0.9rem;
    }
}



/*privacy 隱私政策及法律聲明*/
.privacy-content{
    
}